* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  border: 1px solid red;
  padding: 30px;
  gap: 50px;
}

.content-um {
  border: 1px solid green;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  background-color: #1c1c1c;
  padding: 30px;
  color: white;
  width: 70%;
}

input {
  border: none;
  outline: none;
  box-shadow: none;
  background: none;
  padding: 0;
  margin: 0;
  color: inherit; /* Herda a cor do texto do elemento pai, ou deixe o placeholder */
  font: inherit; /* Herda a fonte do elemento pai */
}

.tarefa-um {
  border: 1px solid #736d5d;
  border-radius: 20px;
  padding: 20px;
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.tarefa-um-content {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
}

.tarefa-um-botoes {
  display: flex;
  gap: 20px;
}

.tarefa-um-botoes button {
  background: none;
  cursor: pointer;
  color: white;
  border: none;
  font-size: 16px;
}

.botao {
  background: none;
  cursor: pointer;
  color: white;
  padding: 10px;
  border-radius: 10px;
  border: none;
  background-color: #5c5346;
  color: #ede8d5;
}

.content-dois {
  width: 40%;
  border: 1px solid green;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.fundo-um {
  background-color: #1c1c1c;
}

.fundo-dois {
  background-color: #2e2b26;
}

.caixa-tarefa-um {
  background-color: #3c3c3c;
}

.caixa-tarefa-dois {
  background-color: #4e4b45;
}

.texto-principal-um {
  color: #f5f5f5;
}

.texto-principal-dois {
  color: #ede8d5;
}

.descricao {
  color: #d1cdc5;
}

.bordas-linhas {
  background-color: #736d5d;
}

.botao-acao {
  background-color: #cc9c59;
}
